html {
	height: 100%;
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
  }

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;                     /* changed from 800 pixels */
    max-width: 960px;
    margin: 0 auto;
    border: 3px solid #021d92;
	background-color: white;
	
}
a:focus, a:hover {
	font-style: italic;
	color: #fffded;
	font-weight: bold;
}
/* the styles for the header */
header {
	padding: 1.5em 0 3em 0;
	border-bottom: 3px solid #021d92;
		background-image: -moz-linear-gradient(
	    30deg, #95ccff 0%, #95ccff 30%, white 50%, #95ccff 80%, #95ccff 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #95ccff 0%, #95ccff 30%, white 50%, #95ccff 80%, #95ccff 100%);
	background-image: -o-linear-gradient(
	    30deg, #95ccff 0%, #95ccff 30%, white 50%, #95ccff 80%, #95ccff 100%);
	background-image: linear-gradient(
	    30deg, #95ccff 0%, #95ccff 30%, white 50%, #95ccff 80%, #95ccff 100%);
}
header h2 {
	font-size: 200%;
	color: #021d92;
	font-weight: 900;
	padding: 0.5em 0 0 3em;
}

header img {
	float: left;
	padding: 0 1em 1em 1em;           /* 30 / 800 x 100 */
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

li a {
	color: #fffded !important;
	font-weight: bold !important;
}

.dropdown-item.droplink{
	background-color: #fffded !important;
	color: #0066ff !important;
}

main{
	margin: auto;
	align-items: center;
	width: 100%;                     /* changed from 800 pixels */
	max-width: 960px;
	padding-top: 3em;
	padding-bottom: 3em;
}

.cardd{
	margin: auto;
	align-content: center;
	align-items: center;
	position: relative;
	max-width:550px;
	/*width: 400px;*/
	text-align: center;
	border: 2px solid #0066ff;
	min-width: 50px;
}

.introParaghraph{
	float: left;
	padding: 2.5em;
	text-align: justify;
}
/*--------------------------------*/
.interest-col{
	border: 2px solid #0066ff;
	margin: 1em;
}

.interest-img {
	float: left;
	max-width: 100%;
	min-width: 10px;
	padding-top: 1em;
	height: auto;
}

.interest-par{
	padding-top: 1em;
	font-size: large;
}
/*--------------------------------*/
.skills-border{
	padding: 1em;
	
}
.skills-border2{
	padding: 0em .5em 1em;
	
}
.skills-h4{
	color: #0066ff;
	border-bottom: 2px solid #0066ff;
}
/*--------------------------------*/
.se-border{
	padding: 2em 2em 1em;
}
.se-border2{
	padding: 0em 1.5em 2em;
}
.se-a:focus,.se-a:hover{
	font-style: italic;
	color: #0066ff;
	font-weight: none;
}
/*--------------------------------*/
.we-gray{
	color: gray;
	text-align: center;
}
/*--------------------------------*/
.contact-border{
	border: 2px solid #0066ff;
	padding: 2em;
}
.contact-msg{
	max-height: 200px;
	min-height: 50px;
	resize: none;
}